<template>
    <div>
      <div>
        <v-breadcrumbs>
          <v-icon slot="divider">chevron_right</v-icon>
          <v-breadcrumbs-item
            v-for="item in breadItems" :key="item.text"
            :disabled="item.disabled"
          >
            <router-link :to="item.routePath">
              {{ item.text }}
            </router-link>
          </v-breadcrumbs-item>
        </v-breadcrumbs>
      </div>
      <v-data-table
        v-bind:headers="headers"
        :items="items"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.department_id }}</td>
        </template>
      </v-data-table>
      <!-- open edit dialog -->
      <v-fab-transition>
        <v-btn
          fab
          bottom
          right
          color="blue lighten-1"
          dark
          fixed
          v-show="floatBtn"
          @click.stop="addItemDialog = !addItemDialog"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
      <v-dialog v-model="addItemDialog" persistent width="800px">
        <v-alert
          color="success"
          icon="check_circle"
          :value="successAlert"
          transition="scale-transition"
        >成功添加新的部门 {{ successAlertSName }}</v-alert>
        <v-card>
          <v-card-title
            class="grey lighten-4 py-4 title"
          >
            注册新的部门
          </v-card-title>
          <v-container grid-list-sm class="pa-4">
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  v-model="name"
                  prepend-icon="business"
                  placeholder="部门名称"
                  v-validate="'required'"
                  data-vv-name="name"
                  :error-messages="errors.collect('name')"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="red" @click="addItemDialog = false">取消</v-btn>
            <v-btn flat color="blue darken-1" @click="addNewDepartment">提交</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
</template>

<script type="text/ecmascript-6">
  import {isLogin} from '../../util/authGuard'
  import {generateDepartmentPostModel, getDepartments, addNewDepartment} from '../../../http/manage/departments'
  import {ADD_NEW_DEPARTMENTS_INFO, INIT_DEPARTMENTS_INFO} from '../../../store/types/mution-types'
  import {homeUrl, departmentRecordUrl} from '../../../router/routerName'
  export default {
    name: 'departmentRecord',
    beforeMount () {
      isLogin(this.$http, this.$router, this.$store)
      getDepartments(0, 50, this.$http)
        .then(departments => {
          this.$store.commit(INIT_DEPARTMENTS_INFO, {
            departments: departments
          })
          this.items = this.$store.getters.getDepartmentsInfo
        })
      setTimeout(() => {
        this.floatBtn = true
      }, 500)
    },
    data () {
      return {
        headers: [
          {
            text: '部门名称',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'ID', value: 'department_id' }
        ],
        items: [],
        breadItems: [
          {
            text: '首页',
            disabled: false,
            routePath: homeUrl
          },
          {
            text: '相关项目',
            disabled: false,
            routePath: departmentRecordUrl
          }, {
            text: '部门情况',
            disabled: false,
            routePath: departmentRecordUrl
          }
        ],
        name: '',
        addItemDialog: false,
        floatBtn: false,
        successAlert: false,
        successAlertSName: ''
      }
    },
    methods: {
      addNewDepartment () {
        this.$validator.validateAll().then((result) => {
          if (result) {
            const newDepartment = generateDepartmentPostModel(this.name, this.description)
            addNewDepartment(newDepartment, this.$http)
              .then(department => {
                this.$store.commit(ADD_NEW_DEPARTMENTS_INFO, {
                  department: department
                })
                this.successAlert = true
                this.successAlertSName = department.name
                setTimeout(() => {
                  this.successAlert = false
                  this.successAlertSName = ''
                  this.addItemDialog = false
                }, 1000)
              })
              .catch(err => {
                // TODO: handle error here
                console.log(err)
              })
          }
        })
      }
    }
  }
</script>

<style scoped>
</style>
