<template>
  <div>
    <v-dialog
      v-model="dialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card color="grey lighten-4" flat>
        <v-toolbar style="flex: 0 0 auto;" dark class="primary">
          <v-btn icon @click.native="" dark>
            <v-icon>priority_high</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-container fluid>
            <v-layout row>
              <v-flex xs12 md6 offset-md3 sm6 offset-sm3>
                <v-card-title>
                  <span class="headline">仓库管理系统</span>
                </v-card-title>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs12 md6 offset-md3 sm6 offset-sm3>
                <v-text-field
                  v-model="email"
                  name="input-email"
                  label="请填写你的邮箱"
                  single-line
                  prepend-icon="mail"
                  persistent-hint
                  :error-messages="errors.collect('email')"
                  v-validate="'required|email'"
                  data-vv-name="email"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs12 md6 offset-md3 sm6 offset-sm3>
                <v-text-field
                  v-model="password"
                  name="input-password"
                  label="请输入你的密码"
                  prepend-icon="lock_outline"
                  :append-icon="e1 ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'password' : 'text'"
                  :error-messages="errors.collect('password')"
                  v-validate="'required'"
                  data-vv-name="password"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-spacer></v-spacer>
            <v-layout row>
              <v-flex xs6 md2 offset-md3 sm2 offset-sm3>
                <v-btn
                  block
                  @click="cancel"
                >Cancel
                </v-btn>
              </v-flex>
              <v-flex xs6 md2 offset-md2 sm2 offset-sm2>
                <v-btn
                  block
                  :loading="loading"
                  :disabled="loading"
                  @click="submit"
                >Submit
                </v-btn>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs12 md6 offset-md3 sm6 offset-sm3>
                <v-alert
                  color="error"
                  icon="warning"
                  :value="errAlert"
                  outline
                  transition="scale-transition"
                >
                  {{ errMsg }}
                </v-alert>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs12 md6 offset-md3 sm6 offset-sm3>
                <v-alert
                  color="success"
                  icon="check_circle"
                  outline
                  :value="successAlert"
                  transition="scale-transition"
                >
                  Login success
                </v-alert>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>


  </div>
</template>

<script type="text/ecmascript-6">
  import {dashboardUrl} from '../../../router/routerName'
  import {login} from '../../../http/index'
  import {SET_USER_INFO} from '../../../store/types/mution-types'
  export default {
    $validates: true,
    name: 'login',
    data: () => ({
      title: '登录',
      e1: true,
      email: '',
      password: '',
      dialog: true,
      errAlert: false,
      errMsg: '',
      successAlert: false,
      loading: false
    }),
    methods: {
      submit () {
        this.$validator.validateAll()
          .then(result => {
            if (result) {
              this.successAlert = false
              this.loading = true
              const email = this.email
              const password = this.password
              login(email, password, this.$http)
                .then(response => {
                  this.loading = false
                  this.successAlert = true
                  this.errAlert = false
                  this.dialog = false
                  this.$store.commit(SET_USER_INFO, {
                    user: response.body
                  })
                  setTimeout(() => {
                    this.$router.push(dashboardUrl)
                  }, 500)
                })
                .catch(response => {
                  this.errMsg = response.body.error.msg
                  this.loading = false
                  this.errAlert = true
                })
            } else {
            }
          })
      },
      cancel () {
        this.email = ''
        this.password = ''
        this.$validator.reset()
      }
    }
  }
</script>

<style scoped>
  <style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
