<template>
    <div>
      <div>
        <v-breadcrumbs>
          <v-icon slot="divider">chevron_right</v-icon>
          <v-breadcrumbs-item
            v-for="item in breadItems" :key="item.text"
            :disabled="item.disabled"
          >
            <router-link :to="item.routePath">
              {{ item.text }}
            </router-link>
          </v-breadcrumbs-item>
        </v-breadcrumbs>
      </div>
      <v-data-table
        v-bind:headers="headers"
        :items="items"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.storeHouse_id }}</td>
          <td class="text-xs-right">{{ props.item.location  }}</td>
          <td class="text-xs-right">{{ props.item.size  }}</td>
        </template>
      </v-data-table>
      <!-- open edit dialog -->
      <v-fab-transition>
        <v-btn
          fab
          bottom
          right
          color="blue lighten-1"
          dark
          fixed
          v-show="floatBtn"
          @click.stop="addItemDialog = !addItemDialog"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
      <v-dialog v-model="addItemDialog" persistent width="800px">
        <v-alert
          color="success"
          icon="check_circle"
          :value="successAlert"
          transition="scale-transition"
        >成功添加新的仓库 {{ successAlertSName }}</v-alert>
        <v-card>
          <v-card-title
            class="grey lighten-4 py-4 title"
          >
            注册新的仓库
          </v-card-title>
          <v-container grid-list-sm class="pa-4">
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  v-model="name"
                  prepend-icon="business"
                  placeholder="存储仓库名称"
                  v-validate="'required'"
                  data-vv-name="name"
                  :error-messages="errors.collect('name')"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="location"
                  prepend-icon="location_on"
                  placeholder="存储仓库位置"
                  v-validate="'required'"
                  data-vv-name="location"
                  :error-messages="errors.collect('location')"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="size"
                  prepend-icon="slow_motion_video"
                  placeholder="存储仓库的大小（平方米）"
                  v-validate="'required'"
                  data-vv-name="size"
                  :error-messages="errors.collect('size')"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="red" @click="addItemDialog = false">取消</v-btn>
            <v-btn flat color="blue darken-1" @click="addNewStorehouse">提交</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
</template>

<script type="text/ecmascript-6">
  import {isLogin} from '../../util/authGuard'
  import {getStorehouses, generateStoreHousePostModel, addNewStorehouses} from '../../../http/manage/storehouses'
  import {INIT_STOREHOUSES_INFO, ADD_NEW_STOREHOUSES_INFO} from '../../../store/types/mution-types'
  import {homeUrl, storesUrl} from '../../../router/routerName'
  export default {
    name: 'stores',
    beforeMount () {
      isLogin(this.$http, this.$router, this.$store)
      getStorehouses(0, 50, this.$http)
        .then(storehouses => {
          this.$store.commit(INIT_STOREHOUSES_INFO, {
            storehouses: storehouses
          })
          this.items = this.$store.getters.getStoreHousesInfo
        })
      setTimeout(() => {
        this.floatBtn = true
      }, 500)
    },
    data () {
      return {
        headers: [
          {
            text: '存储仓库名称',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'ID', value: 'storeHouse_id' },
          { text: '位置', value: 'location' },
          {text: '面积', value: 'size'}
        ],
        items: [],
        breadItems: [
          {
            text: '首页',
            disabled: false,
            routePath: homeUrl
          },
          {
            text: '相关项目',
            disabled: false,
            routePath: storesUrl
          }, {
            text: '存储仓库',
            disabled: false,
            routePath: storesUrl
          }
        ],
        name: '',
        location: '',
        size: '',
        addItemDialog: false,
        floatBtn: false,
        successAlert: false,
        successAlertSName: ''
      }
    },
    methods: {
      addNewStorehouse () {
        this.$validator.validateAll().then((result) => {
          if (result) {
            const newStorehouses = generateStoreHousePostModel(this.name, this.location, this.size)
            addNewStorehouses(newStorehouses, this.$http)
              .then(storehouse => {
                this.$store.commit(ADD_NEW_STOREHOUSES_INFO, {
                  storehouse: storehouse
                })
                this.successAlert = true
                this.successAlertSName = storehouse.name
                setTimeout(() => {
                  this.successAlert = false
                  this.successAlertSName = ''
                  this.addItemDialog = false
                }, 1000)
              })
              .catch(err => {
                // TODO: handle error here
                console.log(err)
              })
          }
        })
      }
    }
  }
</script>

<style scoped>
</style>
