<template>
    <div>
      库存总信息
    </div>
</template>

<script type="text/ecmascript-6">
  import {isLogin} from '../../util/authGuard'
  export default {
    name: 'storeGeneralLedger',
    beforeMount () {
      isLogin(this.$http, this.$router, this.$store)
    }
  }
</script>

<style scoped>
</style>
