<template>
    <div>
      对入库单进行一系列修改
    </div>
</template>

<script type="text/ecmascript-6">
  import {isLogin} from '../../util/authGuard'
  export default {
    name: 'storeForm',
    beforeMount () {
      isLogin(this.$http, this.$router, this.$store)
    }
  }
</script>

<style scoped>
</style>
