<template>
    <div>
      <div>
        <v-breadcrumbs>
          <v-icon slot="divider">chevron_right</v-icon>
          <v-breadcrumbs-item
            v-for="item in breadItems" :key="item.text"
            :disabled="item.disabled"
          >
            <router-link :to="item.routePath">
              {{ item.text }}
            </router-link>
          </v-breadcrumbs-item>
        </v-breadcrumbs>
      </div>
      <v-data-table
        v-bind:headers="headers"
        :items="items"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.supplier_id }}</td>
          <td class="text-xs-right">{{ props.item.tel }}</td>
          <td class="text-xs-right">{{ props.item.address }}</td>
        </template>
      </v-data-table>
      <!-- open edit dialog -->
      <v-fab-transition>
        <v-btn
          fab
          bottom
          right
          color="blue lighten-1"
          dark
          fixed
          v-show="floatBtn"
          @click.stop="addItemDialog = !addItemDialog"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
      <v-dialog v-model="addItemDialog" persistent width="800px">
        <v-alert
          color="success"
          icon="check_circle"
          :value="successAlert"
          transition="scale-transition"
        >成功添加供货商 {{ successAlertSName }}</v-alert>
        <v-card>
          <v-card-title
            class="grey lighten-4 py-4 title"
          >
            注册新的供货商
          </v-card-title>
          <v-container grid-list-sm class="pa-4">
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  v-model="name"
                  prepend-icon="business"
                  placeholder="供货商名称"
                  v-validate="'required'"
                  data-vv-name="name"
                  :error-messages="errors.collect('name')"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="tel"
                  type="tel"
                  prepend-icon="phone"
                  placeholder="联系方式"
                  v-validate="'required'"
                  data-vv-name="tel"
                  :error-messages="errors.collect('tel')"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="address"
                  prepend-icon="notes"
                  placeholder="地址"
                  v-validate="'required'"
                  data-vv-name="address"
                  :error-messages="errors.collect('address')"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="red" @click="addItemDialog = false">取消</v-btn>
            <v-btn flat color="blue darken-1" @click="addNewSupplier">提交</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
</template>

<script type="text/ecmascript-6">
  import {isLogin} from '../../util/authGuard'
  import {getSuppliers, addNewSuppliers, generateSupplierPostModel} from '../../../http/manage/suppliers'
  import {homeUrl, suppliersUrl} from '../../../router/routerName'
  import {INIT_SUPPLIERS_INFO, ADD_NEW_SUPPLIERS_INFO} from '../../../store/types/mution-types'
  export default {
    name: 'suppliers',
    beforeMount () {
      isLogin(this.$http, this.$router, this.$store)
      getSuppliers(0, 50, this.$http)
        .then(suppliers => {
          this.$store.commit(INIT_SUPPLIERS_INFO, {
            suppliers: suppliers
          })
          this.items = this.$store.getters.getSuppliersInfo
        })
      setTimeout(() => {
        this.floatBtn = true
      }, 500)
    },
    data () {
      return {
        headers: [
          {
            text: '供应商',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'ID', value: 'id' },
          { text: '电话', value: 'tel' },
          { text: '地址', value: 'address' }
        ],
        items: [],
        breadItems: [
          {
            text: '首页',
            disabled: false,
            routePath: homeUrl
          },
          {
            text: '相关项目',
            disabled: false,
            routePath: suppliersUrl
          }, {
            text: '供应商',
            disabled: false,
            routePath: suppliersUrl
          }
        ],
        name: '',
        tel: '',
        address: '',
        floatBtn: false,
        addItemDialog: false,
        successAlert: false,
        successAlertSName: ''
      }
    },
    methods: {
      addNewSupplier () {
        this.$validator.validateAll().then((result) => {
          if (result) {
            const newSupplier = generateSupplierPostModel(this.name, this.tel, this.address)
            addNewSuppliers(newSupplier, this.$http)
              .then(supplier => {
                this.$store.commit(ADD_NEW_SUPPLIERS_INFO, {
                  supplier: supplier
                })
                this.successAlert = true
                this.successAlertSName = supplier.name
                setTimeout(() => {
                  this.successAlert = false
                  this.successAlertSName = ''
                  this.addItemDialog = false
                }, 1000)
              })
              .catch(err => {
                // TODO: handle error here
                console.log(err)
              })
          }
        })
      }
    }
  }
</script>

<style scoped>
</style>
