<template>
  <v-layout row>
    <v-flex xs12 sm10 offset-sm1>
      <v-card>
        <v-list two-line subheader>
          <v-subheader>用户信息</v-subheader>
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-icon color="indigo">account_circle</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>姓名</v-list-tile-title>
              <v-list-tile-sub-title>{{ $store.getters.getUserInfo.name }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-icon color="indigo">email</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>邮箱</v-list-tile-title>
              <v-list-tile-sub-title>{{ $store.getters.getUserInfo.email }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-icon color="indigo">lock_open</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>等级</v-list-tile-title>
              <v-list-tile-sub-title>{{ $store.getters.getUserInfo.authLevel }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <div class="text-xs-right">
          <v-btn color="error" outline @click.native.stop="logOutConfirmdialog = true">登出</v-btn>
        </div>
      </v-card>
    </v-flex>
    <v-dialog v-model="logOutConfirmdialog" max-width="290">
      <v-card>
        <v-card-title class="headline">是否确认退出</v-card-title>
        <v-card-text>确认后将下次将不自动登录</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click.native="logOutConfirmdialog = false">取消</v-btn>
          <v-btn color="red darken-1" flat="flat" @click.native="quit">确认</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="logOutErrorDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">退出失败，请重试</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat="flat" @click.native="logOutErrorDialog=false">确认</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script type="text/ecmascript-6">
  import {dashboardComponentRouterGuard} from '../../../router/routerGuard'
  import {isLogin} from '../../util/authGuard'
  import {logout} from '../../../http/index'
  import {loginUrl} from '../../../router/routerName'
  export default {
    name: 'userinfo',
    data: () => ({
      routeName: '用户信息',
      logOutConfirmdialog: false,
      logOutErrorDialog: false
    }),
    beforeMount () {
      isLogin(this.$http, this.$router, this.$store)
    },
    beforeRouteEnter (to, from, next) {
      dashboardComponentRouterGuard(to, from, next)
    },
    methods: {
      quit () {
        this.logOutConfirmdialog = false
        logout(this.$http)
          .then(() => {
            this.$router.push(loginUrl)
          })
          .catch(e => {
            this.logOutErrorDialog = true
          })
      }
    }
  }
</script>

<style scoped>
</style>
