<template>
  <!--<dashboard></dashboard>-->
  <div>
    <dashboard/>
  </div>

  <!--<login></login>-->
</template>
<script>
//  import Dashboard from './components/dashboard/Dashboard.vue'
// import Login from './components/Login.vue'

import Dashboard from './components/dashboard/Dashboard.vue'
import {store} from './store/index'

export default {
//  components: {Login},
  components: {Dashboard},
  name: 'app',
  store
}
</script>
<style>

</style>
