<template>
  <v-app id="inspire">
    <v-navigation-drawer
      absolute
      clipped
      app
      v-model="drawer"
    >
      <v-list dense>
        <template v-for="(item, i) in items">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="i"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <!--TODO: 判断是否显示权限-->
          <v-list-group
            v-else-if="
              item.children && (!item.adminAuth || (item.adminAuth && $store.getters.getUserInfo.authLevel==='admin'))
            " v-model="item.model" no-action>
            <v-list-tile slot="item" @click="">
              <v-list-tile-action>
                <v-icon>{{ item.model ? item.icon : item['icon-alt'] }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.model ? '' : item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              @click="navTo(child.url)"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <!--TODO: 判断是否显示权限-->
          <v-list-tile
            v-else-if="(!item.adminAuth || (item.adminAuth && $store.getters.getUserInfo.authLevel==='admin'))"
            @click="navTo(item.url)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="blue darken-3"
      dark
      app
      clipped-left
      fixed
    >
      <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'"
                       class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="test"></v-toolbar-side-icon>
        <span class="hidden-xs-only">{{ appName }}</span>
      </v-toolbar-title>
      <div class="d-flex align-center" style="margin-left: auto">
        <v-chip color="indigo" text-color="white" dark >
          <v-avatar>
            <v-icon>account_circle</v-icon>
          </v-avatar>
         {{ $store.getters.getUserInfo.name }}
        </v-chip>
      </div>
    </v-toolbar>
    <v-content>
      <!--<userinfo></userinfo>-->
      <v-container fluid>
        <!--<v-layout justify-left align-center>-->
        <transition name="slide-fade" mode="out-in" appear>
          <router-view></router-view>
        </transition>
        <!--</v-layout>-->
      </v-container>
    </v-content>

    <!--<v-dialog v-model="errLoginDialog" max-width="290">-->
    <!--<v-card>-->
    <!--<v-card-title class="headline">请先登录</v-card-title>-->
    <!--<v-card-text>将在三秒后跳转到登录界面</v-card-text>-->
    <!--</v-card>-->
    <!--</v-dialog>-->
  </v-app>
</template>

<script>
  import {
    dashboardUrl,
    materialsInfoUrl,
    outboundFormUrl,
    stockFlowAccountUrl,
    storeFormUrl,
    storeGeneralLedgerUrl,
    userInfoUrl,
    adminUserUrl,
    adminRecordUrl,
    departmentRecordUrl,
    suppliersUrl,
    storesUrl
  } from '../../router/routerName'
  import { isLogin } from '../util/authGuard'

  export default {
    name: 'dashboard',
    data: () => ({
      appName: '仓库管理系统',
      dialog: false,
//      errLoginDialog: true,
      drawer: null,
      items: [
        {
          icon: 'home',
          text: '首页',
          url: dashboardUrl
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'swap_horiz',
          text: '流程处理',
          model: false,
          children: [
            {icon: 'playlist_add', text: '入库', url: storeFormUrl},
            {icon: 'call_split', text: '出库', url: outboundFormUrl}
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'equalizer',
          text: '账目统计',
          model: false,
          children: [
            {icon: 'show_chart', text: '库存总账查询', url: storeGeneralLedgerUrl},
            {icon: 'usb', text: '库存流水总账', url: stockFlowAccountUrl}
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'content_paste',
          text: '相关项目',
          model: false,
          children: [
            {icon: 'storage', text: '物资概览', url: materialsInfoUrl},
            {icon: 'domain', text: '部门情况', url: departmentRecordUrl},
            {icon: 'local_shipping', text: '供应商', url: suppliersUrl},
            {icon: 'view_comfy', text: '存储仓库', url: storesUrl}
          ]
        },
        {icon: 'settings', text: '用户信息', id: '5', url: userInfoUrl},
        {
          icon: 'keyboard_arrow_up',
          adminAuth: true,
          text: '管理员',
          'icon-alt': 'build',
          model: false,
          children: [
            {icon: 'group', text: '管理用户', url: adminUserUrl},
            {icon: 'event_note', text: '查看记录', url: adminRecordUrl}
          ]
        }
      ]
    }),
    props: {
      source: String
    },
    methods: {
      /**
       *  进行导航
       * @param {string} id 子页面id号
       */
      navTo: function (url) {
        this.$router.push(url)
      },
      test: function () {
        this.drawer = !this.drawer
      }
    },
    beforeRouteEnter (to, from, next) {
      //  TODO: delete
      console.log(to)
      console.log(from)
      next()
    },
    beforeMount () {
      isLogin(this.$http, this.$router)
    }
  }
</script>

<style>
  .slide-fade-enter-active {
    transition: all .3s ease;
  }

  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */
  {
    transform: translateX(10px);
    opacity: 0;
  }
</style>

